<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="address1" class="com.capgemini.Address">
<property name="city" value="Pune"/>
</bean>
<bean id="address2" class="com.capgemini.Address">
<property name="city" value="vizag"/>
</bean>
<bean id="employee" class="com.capgemini.Employee">
<property name="employeeNumber" value="1"/>
<property name="name" value="mouna"/>
<property name="address" >
<list>
            <ref bean="address1"/>
            <ref bean="address2"/>
           
         </list>
         </property> 

         
 </bean>
</beans> 
